<template>

  <div id="title-tags-container">
    <label>Titre</label>
    <input type="text" v-model="note.title">

    <label>Tags</label>
    <input type="text" v-model="note.tags">
  </div>

  <div v-if="editor" id="btn-container">
    <button @click="editor.chain().focus().toggleBold().run()" :disabled="!editor.can().chain().focus().toggleBold().run()" :class="{ 'is-active': editor.isActive('bold') }">
      bold
    </button>
    <button @click="editor.chain().focus().toggleItalic().run()" :disabled="!editor.can().chain().focus().toggleItalic().run()" :class="{ 'is-active': editor.isActive('italic') }">
      italic
    </button>
    <button @click="editor.chain().focus().toggleStrike().run()" :disabled="!editor.can().chain().focus().toggleStrike().run()" :class="{ 'is-active': editor.isActive('strike') }">
      strike
    </button>
    <button @click="editor.chain().focus().toggleCode().run()" :disabled="!editor.can().chain().focus().toggleCode().run()" :class="{ 'is-active': editor.isActive('code') }">
      code
    </button>
    <button @click="editor.chain().focus().unsetAllMarks().run()">
      clear marks
    </button>
    <button @click="editor.chain().focus().clearNodes().run()">
      clear nodes
    </button>
    <button @click="editor.chain().focus().setParagraph().run()" :class="{ 'is-active': editor.isActive('paragraph') }">
      paragraph
    </button>
    <button @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }">
      h1
    </button>
    <button @click="editor.chain().focus().toggleHeading({ level: 2 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }">
      h2
    </button>
    <button @click="editor.chain().focus().toggleHeading({ level: 3 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }">
      h3
    </button>
    <button @click="editor.chain().focus().toggleHeading({ level: 4 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 4 }) }">
      h4
    </button>
    <button @click="editor.chain().focus().toggleBulletList().run()" :class="{ 'is-active': editor.isActive('bulletList') }">
      bullet list
    </button>
    <button @click="editor.chain().focus().toggleOrderedList().run()" :class="{ 'is-active': editor.isActive('orderedList') }">
      ordered list
    </button>
    <button @click="editor.chain().focus().toggleCodeBlock().run()" :class="{ 'is-active': editor.isActive('codeBlock') }">
      code block
    </button>
    <button @click="editor.chain().focus().toggleBlockquote().run()" :class="{ 'is-active': editor.isActive('blockquote') }">
      blockquote
    </button>
    <button @click="editor.chain().focus().setHorizontalRule().run()">
      horizontal rule
    </button>
    <button @click="editor.chain().focus().setHardBreak().run()">
      hard break
    </button>
  </div>

  <div id="editor-container">
    <editor-content :editor="editor" />
  </div>

  <button @click="saveNote" class="save-button">Save</button>

</template>

<script>
import StarterKit from '@tiptap/starter-kit'
import { Editor, EditorContent } from '@tiptap/vue-3'
import axios from 'axios';

export default {
  components: {
    EditorContent,
  },

  data() {
    return {
      mode: '',
      editor: null,
      note: {},
    }
  },

  async mounted() {

    if (this.$route.params.id === "create") {
      this.mode = 'create';
      this.note.title = 'Choose Title'
      this.note.tags  = ''
    } else {
      this.mode = 'edit';
      let rep = await axios.get(`http://localhost:3000/api/notes/${this.$route.params.id}`);
      this.note = rep.data;
      this.note.tags = this.note.tags.join(' ');
    }        

    this.editor = new Editor({
      extensions: [
        StarterKit,
      ],
      content: (this.mode === 'edit') ? `${this.note.content}`:
      `
        <h2>
          Write your new note here !
        </h2>
        <p>
          this is a <em>basic</em> <strong>example</strong>. Sure, there are all kind of basic text styles you’d probably expect from a text editor. But wait until you see the lists:
        </p>
        <ul>
          <li>
            That’s a bullet list with one …
          </li>
          <li>
            … or two list items.
          </li>
        </ul>
        <p>
          Isn’t that great? And all of that is editable. But wait, there’s more. Let’s try a code block:
        </p>
        <pre><code class="language-css">body {
  display: none;
}</code></pre>
        <p>
          I know, I know, this is impressive. It’s only the tip of the iceberg though. Give it a try and click a little bit around. Don’t forget to check the other examples too.
        </p>
        <blockquote>
          Wow, that’s amazing. Good work, boy! 👏
          <br />
          — Mom
        </blockquote>
      `,
    })
  },


  beforeUnmount() {
    this.editor.destroy()
  },

  methods: {
    async fetchSavedNoteData(noteId) {

      try {
        let res = await axios({
              url: `http://localhost:3000/api/notes/${noteId}`,
              method: 'get',
              timeout: 20000,
          })
          if(res.status == 200){
              console.log(res.status)
          }  
          return res.data
      }
      catch (err) {
          console.error(err);
      }

    },
    saveNote() {
      
      const noteData = {
        title: this.note.title ? this.note.title : `Random-Note-${Math.random().toString(36).substring(7)}`,
        tags: this.note.tags ? this.note.tags.split(' ').map(tag => tag.trim()).filter(e => e !== "") : [], 
        content: this.editor.getHTML(),
      };

      if (this.mode === 'create') {
        axios.post('http://localhost:3000/api/notes', noteData)
          .then(() => {
            this.$router.push('/');
          })
          .catch(error => {
            console.error(error);
          });
      } else if (this.mode === 'edit') {
        axios.put(`http://localhost:3000/api/notes/${this.note.id}`, noteData)
          .then(() => {
            this.$router.push('/');
          })
          .catch(error => {
            console.error(error);
          });
      }
    },
  },

}
</script>

<style lang="scss">
#title-tags-container{
  display: flex;
  background-color: rgba(66, 139, 202, 0.3);;
  flex-direction: column;
  margin-bottom: 15px;
  width: 614px;
  margin-left: auto;
  margin-right: auto;
}

#title-tags-container input{
  margin: 10px;
}

#title-tags-container label{
  text-align: left;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

#btn-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  overflow: auto;
}

#btn-container button {
  margin-bottom: 5px;
  background-color: lightblue;
  color:black;
  width: 100%;
}


#editor-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  margin-top: 10px;
  background-color:#1B6B93; 
  width: 618px;
}



/* Basic editor styles */
.ProseMirror {

  width: 600px;
  border: 3px #1B6B93 solid;
  text-align: left;
  padding: 5px;

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }
}

</style>
