<template>
  <div class="app">

    <h1>Notes</h1>

    <div class="search-bar">
      <input type="text" v-model="searchQuery" placeholder="Rechercher par tag" />
    </div>

    <div class="note-list">
      <div v-for="note in filteredNotes" :key="note.id" class="note-card">
        <div class="note-actions">
          <font-awesome-icon :icon="['fas', 'edit']" :style="{ color: '#42b983' }" @click="modifyNote(note.id)" />
          <font-awesome-icon :icon="['fas', 'trash']" :style="{ color: 'grey' }" @click="deleteNote(note.id)" />
        </div>
        <div class="note-header">
          <h2>{{ note.title }}</h2>
          <span class="note-date">{{ formatNoteDate(note.created_at) }}</span>
        </div>
        <div class="note-tags">
          <span v-for="tag in note.tags" :key="tag" class="tag">{{ tag }}</span>
        </div>

      </div>
    </div>


  </div>
</template>
  
  
  
<script>

import axios from 'axios'

export default {
  data() {
    return {
      notes: [],
      searchQuery: "",
    };
  },
  mounted() {
    this.getNotes();
  },
  computed: {
    filteredNotes() {
      if (this.searchQuery) {
        return this.notes
          .filter(note => note.tags.some(tag => tag.includes(this.searchQuery)))
          .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
      } else {
        return this.notes.slice().sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
      }
    },
  },
  methods: {
    getNotes() {
      axios.get('http://localhost:3000/api/notes')
        .then(response => {
          this.notes = response.data;
        })
        .catch(error => {
          console.error(error);
        });
    },
    deleteNote(noteId) {
      axios.delete(`http://localhost:3000/api/notes/${noteId}`)
        .then(() => {
          this.notes = this.notes.filter(note => note.id !== noteId);
        })
        .catch(error => {
          console.error(error);
        });
    },
    modifyNote(noteId) {
      this.$router.push({ name: 'ManageNote', params: { id: noteId } });
    },
    formatNoteDate(date) {
      const formattedDate = new Date(date).toLocaleDateString('fr-FR');
      const formattedTime = new Date(date).toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });
      return `${formattedDate} à ${formattedTime}`;
    },
  },
};
</script>
  
  
  
  
  
<style>
.note-actions {
  display: flex;
  justify-content: flex-start;
}

.note-actions * {
  margin-left: 5px;
}

.search-bar {
  margin-bottom: 25px;
}

.search-bar input {
  border: #333 2px solid;
}

.search-bar input::placeholder {
  text-align: center;
}

#modify-and-delete-buttons {
  display: flex;
  justify-content: space-around;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 5px;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.note-card {
  border: 1px solid #ddd;
  padding: 10px;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.note-date {
  font-size: 12px;
  color: #888;
}

.note-tags {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  padding: 2px 6px;
  background-color: #eee;
  margin-right: 5px;
}

.note-content {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
</style>
  